[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bioutils = "<1.0,>=0.4.0"
click = "==8.1.7"
configparser = ">=3.3.0"
exceptiongroup = "==1.2.0"
hgvs = "==1.5.4"
importlib-resources = "==6.1.1"
ipykernel = "==6.28.0"
psycopg2-binary = "==2.9.9"
pydantic = "==2.8.2"
"ga4gh.vrs" = {extras = ["extras"], version = "==0.8.5"}
pandas = "*"
python-dotenv = "*"
requests = "*"
fhir-core = "==0.1.0b8"
fhir = {resources = "==7.1.0"}

[dev-packages]
pytest = "==7.4.4"

[requires]
python_version = "3.11"
